@import "reset"

#home-view
  background #eeeeee
  margin 0 auto
  width 800px
  min-height 800px
  padding 60px

#content
  div
    width 400px
    border 1px solid #ccc
    margin-bottom 10px

.overlay
  border 1px solid #ccc
  position absolute
  z-index 1000

.overlay-backdrop
  background-color #fff
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 999
  opacity 0.7

#standard-overlay
  background #fff
  top 200px
  left 400px
  padding 20px
  width 300px

#backdrop-overlay
  background #fff
  top 200px
  left 400px
  padding 20px
  width 300px

#fade-overlay
  background #fff
  top 200px
  left 400px
  padding 20px
  width 300px

#rerender-overlay
  background #fff
  top 200px
  left 400px
  padding 20px
  width 300px
